.Container {
    padding: 0px 25px;
}

.Container p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(22, 22, 104);
}
.topcontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Slippage{
    display: flex;
    gap: 5px;
    background: #ffffff;
    border-radius: 5px;
}
.Slippage span{
   /*  border: 1px solid rgb(244, 255, 244); */
    padding: 8px 10px;
    background: #a9b5fb;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
    font-weight: 500;
}

.tablehead {
    background-color: rgba(89, 106, 255, 0.2);
}

.table-head {
    color: rgb(20, 8, 115);
    font-size: 15px;
    font-weight: 600;
}


.tablebody {
    background-color: rgb(243, 243, 243);
}

.tablebody:hover {
    background-color: rgb(209, 214, 255);
    scale: 0.997;
}

.rank {
    font-weight: 700;
}

.growgraph {
    margin-bottom: -10px;
    color: green;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.trend {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.trend.up {
    background: linear-gradient(to right, green, lightgreen);
}

.trend.down {
    background: linear-gradient(to right, red, pink);
}