.Containerp {
  padding: 20px;
  margin: 20px;
}

.topcontent p {
  font-size: 25px;
  font-weight: 600;
  color: rgb(22, 22, 104);
}

.topcontent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.Slippage {
  display: flex;
  gap: 5px;
  background: #ffffff;
  border-radius: 5px;
}

.Slippage span {
  padding: 8px 10px;
  background: #a9b5fb;
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
  font-weight: 500;
}

.tablehead {
  background-color: rgba(89, 106, 255, 0.2);
}

.table-head {
  color: rgb(20, 8, 115);
  font-size: 15px;
  font-weight: 600;
}

.tablebody {
  background-color: rgb(243, 243, 243);
  transition: all 0.5s ease-out;
}

.tablebody:hover {
  background-color: rgb(209, 214, 255);
  transform: scale(0.997);
}

.rank {
  font-weight: 700;
}

.growgraph {
  margin-bottom: -10px;
  color: green;
}

.action-button {
  background-color: rgba(20, 8, 115, 0.9);
  color: white;
  border-radius: 4px;
  height: 30px;
  width: 60px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgba(20, 8, 115, 1);
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
  background-size: 2000px 100%;
  animation: skeletonShimmer 1.5s infinite;
}

@keyframes skeletonShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
